<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path" value="C:\\Users\\Wesker\\Desktop\\test.csv" />
  </appSettings>
  <connectionStrings>
    <add name="csvFileContext" connectionString="Data Source=MSI\MSSQLSERVER3;Initial Catalog=CSVtoDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>